@import "../../../styles.scss";
.main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/login-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    font-family: $font;
    .loginBox{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        max-width: 90%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px 0 0 0;
        border-radius: 10px;
        p{
            text-align: center;
            padding: 0;
        }
        .first{
            color: white;
        }
        .second{
            color: $coffee;
            font-weight: 1000;
        }
        .third{
            color: white;
        }
        .signin{
            width: 100%;
            color: white;
            cursor: pointer;
            letter-spacing: 2px;
            img{
                vertical-align: middle;
            }
            &:hover{
                font-weight: 700;
            }
        }
        .google{
            background-color: #dd4b39;
            border-radius: 0 0 10px 10px;
        }
        
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .loginBox{
        width: 420px;
        p{
            margin: 0 0 9px 0;
        }
        .first{
            letter-spacing: 4px;
            font-size: 14px;
        }
        .second{
            letter-spacing: 9px;
            font-size: 45px;
        }
        .third{
            font-size: 15px;
        }
        .signin{
            height: 40px;
            font-size: 17px;
            text-align: center;
            line-height: 40px;
            vertical-align: middle;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .loginBox{
        width: 420px;
        p{
            margin: 0 0 9px 0;
        }
        .first{
            letter-spacing: 4px;
            font-size: 14px;
        }
        .second{
            letter-spacing: 9px;
            font-size: 45px;
        }
        .third{
            font-size: 15px;
        }
        .signin{
            height: 40px;
            font-size: 17px;
            text-align: center;
            line-height: 40px;
            vertical-align: middle;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .loginBox{
        width: 450px;
        p{
            margin: 0 0 10px 0;
        }
        .first{
            letter-spacing: 5px;
            font-size: 15px;
        }
        .second{
            letter-spacing: 10px;
            font-size: 50px;
        }
        .third{
            font-size: 16px;
        }
        .signin{
            height: 45px;
            font-size: 20px;
            text-align: center;
            line-height: 45px;
            vertical-align: middle;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .loginBox{
        width: 450px;
        p{
            margin: 0 0 12px 0;
        }
        .first{
            letter-spacing: 6px;
            font-size: 15px;
        }
        .second{
            letter-spacing: 10px;
            font-size: 55px;
        }
        .third{
            font-size: 18px;
        }
        .signin{
            height: 50px;
            font-size: 20px;
            text-align: center;
            line-height: 50px;
            vertical-align: middle;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .loginBox{
        width: 600px;
        p{
            margin: 0 0 15px 0;
        }
        .first{
            letter-spacing: 7px;
            font-size: 18px;
        }
        .second{
            letter-spacing: 12px;
            font-size: 60px;
        }
        .third{
            font-size: 20px;
        }
        .signin{
            height: 60px;
            font-size: 22px;
            text-align: center;
            line-height: 60px;
            vertical-align: middle;
        }
    }
}